[submodule "submodules/ros-2-apriltags"]
	path = submodules/ros-2-apriltags
	url = git@gitlab.rwu.de:mat-iki/ros-2-apriltags.git
[submodule "submodules/pymoveit2"]
	path = submodules/pymoveit2
	url = git@gitlab.rwu.de:mat-iki/pymoveit2.git
